* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,
body {
width: 100%;
height: 100%;
}
body {
display: grid;
grid:
"header header" 40px
"sidebar content" 1fr
"footer footer" 60px
/ 200px 1fr;
grid-gap: 16px;
}
.el {
padding: 10px;
border: solid 1px #000;
}
#main-header {
grid-area: header;
}
#main-content {
grid-area: content;
}
#main-sidebar {
grid-area: sidebar;
}
#main-footer {
grid-area: footer;
}