 #header{		
height: 80px;
 }

  #footer{		
height: 80px;
 }

#zag{
size: 26px;
color: #0f0f0f;
text-transform: uppercase;
}

 a{ 
    text-decoration: none;
}
a:hover{
    color: #ff0000;
   }

#statya{
margin-bottom:16px;
background-color:#cecece;
}
